@charset "utf-8";

body{background: grey;}

main{
    max-width: 800px;
    background: white;
    margin: auto;
}

main, header, section, article, footer, div{
    border: 1px solid grey;
}

article img {width: 100%;}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

article div{
    padding: 5px;
    border-radius: 5px;
}

#nagykepTarolo img{
    width: 100%;
}

#nagykepTarolo{padding: 10px;}

section{
    display: grid;
    grid-template-columns: 50px auto 50px;
}